.container{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media(min-width: 576px){
	.container{
		max-width: 540px;
	}
	.gauche
	{
		max-width: 194px;
	}
	.droite
	{
		max-width: 346px;
	}
	.table1
	{
		margin-left:108px;
	}
	.table2
	{
		margin-left:75px;
	}
}
@media(min-width: 768px){
	.container{
		max-width: 720px;
	}
	.gauche
	{
		max-width: 259px;
	}
	.droite
	{
		max-width: 461px;
	}
	.table1
	{
		margin-left:144px;
	}
	.table2
	{
		margin-left:100px;
	}
}
@media(min-width: 992px){
	.container{
		max-width: 920px;
	}
	.gauche
	{
		max-width: 331px;
	}
	.droite
	{
		max-width: 589px;
	}
	.table1
	{
		margin-left:194px;
	}
	.table2
	{
		margin-left:128px;
	}
}
@media(min-width: 1200px){
	.container{
		max-width: 1140px;
	}
	.table1
	{
		margin-left:230px;
	}
	.table2
	{
		margin-left:160px;
	}
}
#entete
	{

	background-color : #000000;
	border : thin black solid;
	}	
#corps
	{
	background-color : #d7d5d5;
	padding: 15px;
	}
#Pied_de_Page
	{
	background-color : #000000;
	border : thin black solid; 
	color : white;
	text-align:center;
	}
.info
	{
	position : relative;
	vertical-align:bottom;
	margin-top : 35%;
	text-align : right;
	}
body 
	{
	margin : auto;
	background-color : #192f49;
	}
ul
	{
	font-family : Colibri, Arial;
	list-style: square;
	}
p
	{
	font-family : Colibri, Arial;
	margin-left : 20px;
	}
table
	{
	border: thin solid black;
	border-collapse: collapse;
	}
th,td
	{
	text-align: center;
	border: thin solid black;
	}

.droite
	{
	position : absolute;
	}
.textepiedpage
	{
	font-size : small;
	font-family : "Comic sans ms", Arial;
	color : white;
	}
.texteCorps
	{
	font-size : medium;
	font-family : "Comic sans ms", Arial;
	}
.puce
	{
	margin-left: 20px;
	position:relative;
	top:3px;
	}
.grey
	{
	background-color: grey;
	}
.white
	{
	background-color: #a9b4b5;
	}
.centre
	{
	margin-left : 300px;
	}
.images
	{
	Text-align: center;
	}
.ecart
	{
	padding-left : 15px;
	padding-right : 15px;
	}
a:visited
	{
	color: #808080;
	}
a:link
	{
	color: #1448b4;	
	}	
a:hover
	{
	color: #808080;
	}

.boutonMenu{
	height: 50px;
	width: 13.75%;
}